@font-face {
  font-family: 'Prajad';
  src: url('./CSPraJad.otf') format('truetype');
  font-style: normal;
  font-weight: 400;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: 'Prajad';
  src: url('./CSPraJad-Italic.otf') format('truetype');
  font-style: italic;
  font-weight: 400;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: 'Prajad';
  src: url('./CSPraJad-bold.otf') format('truetype');
  font-style: normal;
  font-weight: 700;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: 'Prajad';
  src: url('./CSPraJad-boldItalic.otf') format('truetype');
  font-style: italic;
  font-weight: 700;
  text-rendering: optimizeLegibility;
}
